@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(0 0 0 / 21%);
}

.wrapper {
    background: white;
    width: 430px;
    padding: 30px;
    border-radius: 5px;

}

.wrapper header {
    color: rgb(1, 95, 202);
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}

.wrapper form {
    height: 167px;
    display: flex;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #6990f2;
    cursor: pointer;
}

form :where(.cloud-icons, p) {
    color: #6990f2;
}

form .cloud-icons {
    font-size: 50px;
}

form p {
    font-size: 16px;
    margin-top: 15px;
}

section .row {
    background: #e9f0ff;
    margin-bottom: 10px;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-area .row .file-icon {
    font-size: 30px;
    color: #6990f2;
}


.progress-area .row .content {
    width: 100%;
    margin-left: 15px;
}

.progress-area .details span {
    font-size: 14px;
    margin-bottom: 4px;
}

.progress-area .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.progress-area .progress-bar 
{
    height: 6px;
    width: 100%;
    background: #fff;
    margin-bottom: 4px;
    border-radius: 30px;
}
.progress-bar .progress
{
    height: 100%;
    width: 50%;
    background: #6990f2;
    border-radius: inherit;
}

.uploaded-area 
{
    max-height: 150px;
    overflow-y:scroll;
}
.uploaded-area::-webkit-scrollbar
{
    width: 0px;
}


.uploaded-area .row .content {
    display: flex;
    align-items: center;
}

.uploaded-area .row .details {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}

.uploaded-area .row .file-icon {
    font-size: 27px;
    color: #6990f2;
}
.uploaded-area .details .size
{
    font-size: 11px;
    color: #404040;
}
.uploaded-area .check-icon 
{
    color: #04a321;
    font-size: 23px;
}