* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(149, 149, 149);
}
.circle
{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid rgba(227, 224, 224, 0.7);
    border-top: 10px solid rgb(70, 97, 250);
    animation: animate 1.5s infinite linear;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}