@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #5372f0;
}

.wrapper {
    width: 490px;
    background: #fff;
    border-radius: 10px;
    padding: 18px 25px 20px;

}

.wrapper :where(.title, li, li i, .details) {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.wrapper .title h2 {
    font-size: 21px;
    font-weight: 600;
}

.wrapper .title ion-icon {
    max-width: 21px;
}

.wrapper .content {
    margin: 10px 0;


}

.content p {
    font-size: 15px;
}

.content ul {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #a6a6a6;
    padding: 7px;
    border-radius: 5px;
    margin: 12px 0;
    overflow: hidden;
}

.content ul li {
    list-style: none;
    background: #f2f2f2;
    margin: 4px 3px;
    padding: 5px 8px 5px 10px;
    border-radius: 5px;
    border: 1px solid #e3d1e1;

}

.content ul li ion-icon {
    height: 20px;
    width: 20px;
    background: #dfdfdf;
    font-size: 12px;
    border-radius: 50%;
    margin-left: 8px;
    justify-content: center;
    color: #808080;
    cursor: pointer;
}

.content ul input {
    flex: 1;
    outline: none;
    padding: 5px;
    border: none;
    font-size: 17px;
    width: 100px;
}

.wrapper .details {
    justify-content: space-between;
}

.details button {
    border: none;
    outline: none;
    background: #5372f0;
    color: white;
    padding: 9px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.details span {
    margin-right: 3px;
}