* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(239, 239, 239);
}
.loader
{
    position: relative;
   
}
.loader::before
{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: rgb(0, 144, 144);
    animation: blinkCursor 0.8s steps(3) infinite;
}
@keyframes blinkCursor
{
    0%,75%
    {
        opacity: 1;
    }
    76%,100% 
    {
        opacity: 0;
    }
}
.loader h2 
{
    position: relative;
    color: rgb(0, 144, 144);
    letter-spacing: 5px;
    text-transform: uppercase;
    animation: typing 8s steps(10) infinite;
    overflow: hidden;
}
@keyframes typing 
{
    0%,90%,100%
    {
        width: 0;
    }
    30%
    {
        width: 182.69px;
    }

}